<%= form_for(@recipe_item) do |f| %>
  <% if @recipe_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_item.errors.count, "error") %> prohibited this recipe_item from being saved:</h2>

      <ul>
      <% @recipe_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe %><br>
    <%= f.text_field :recipe %>
  </div>
  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :unit_id %><br>
    <%= f.text_field :unit_id %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
