<h1>Listing unit_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_categories.each do |unit_category| %>
      <tr>
        <td><%= unit_category.name %></td>
        <td><%= link_to 'Show', unit_category %></td>
        <td><%= link_to 'Edit', edit_unit_category_path(unit_category) %></td>
        <td><%= link_to 'Destroy', unit_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit category', new_unit_category_path %>
