<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit_category %><br>
    <%= f.text_field :unit_category %>
  </div>
  <div class="field">
    <%= f.label :price_per_unit %><br>
    <%= f.text_field :price_per_unit %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :store %><br>
    <%= f.text_field :store %>
  </div>
  <div class="field">
    <%= f.label :price_last_updated %><br>
    <%= f.date_select :price_last_updated %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
